* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  letter-spacing: 3px;
}
body {
  background-image: url("photo-1470115636492-6d2b56f9146d.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.45);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
header {
  position: absolute;
  color: white;
  padding: 20px;

  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)); */
}
footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  font-family: cursive;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 3px;
  text-align: center;
}
.content p:first-child {
  font-size: 40px;
  padding: 10px;
}
.date {
  display: flex;
  font-size: 13px;
  text-align: center;
  gap: 15px;
}
@media screen and (max-width: 300px) {
  .date {
    gap: 3px;
  }
}
